<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Machine Learning para todo mundo.</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/tutoriais/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-jedi-order fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>

                    <h4 class="service-heading">Tutoriais</h4>
                    <p class="text-muted">Tutoriais e vídeo sobre como implementar as diferentes técnicas de machine learning e deep learning</p>
                </div>
                <div class="col-md-4">
                    <a href="/portfolio/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-branch fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Portfolio</h4>
                    <p class="text-muted">Apresento aqui alguns dos meus trabalhos, exemplos de aplicação.</p>
                </div>
                <div class="col-md-4">
                    <a href="/ml101/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-keycdn fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Aprendizado de Máquina 101</h4>
                    <p class="text-muted">Começando do básico? conceitos esseciais para se aventurar nessa fascinante área</p>
                </div>
            </div>
        </div>
    </section>